body {
  background-image: url("https://github.com/Ayahumi1017/Inazma_Website/blob/main/Haikei/abstract-pui10-light-background-wallpaper-colorful-gradient-blurry-soft-smooth-motion-bright-shine_7.png?raw=true");
  background-size: cover;
}
